[submodule "etl/cjkvi-variants"]
	path = etl/cjkvi-variants
	url = https://github.com/cjkvi/cjkvi-variants.git
[submodule "etl/cjkvi-tables"]
	path = etl/cjkvi-tables
	url = https://github.com/cjkvi/cjkvi-tables.git
